swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "Swagger GithubJobExample"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: jobs.github.com
basePath: /
schemes:
  - https
paths:
  /positions.json:
    get:
      tags:
      - "positions"
      summary: ""
      operationId: "findPositionsByDescription"
      produces:
      - "application/json"
      parameters:
      - name: "description"
        in: "query"
        description: "description"
        type: "string"
      - name: "page"
        in: "query"
        description: "page"
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PositionJSON"
        "400":
          description: "Invalid status value"
definitions:
  PositionJSON:
    type: "object"
    required:
    - "id"
    - "type"
    - "url"
    - "company"
    - "company_url"
    - "location"
    - "title"
    - "description"
    - "how_to_apply"
    - "company_logo"
    properties:
      id:
        type: "string"
      type:
        type: "string"
      url:
        type: "string"
      company:
        type: "string"
      company_url:
        type: "string"
      location:
        type: "string"
      title:
        type: "string"
      description:
        type: "string"  
      how_to_apply:
        type: "string"
      company_logo:
        type: "string"               
